# these are for backporting the project, not needed for tests
autopep8==1.5.7;python_version<"3"
future-fstrings==1.2.0;python_version<"3"
strip-hints==0.1.10;python_version>"3"  # must run in python 3 due to https://github.com/abarker/strip-hints/issues/5
